.dnd-box-container{
    height: 100%;
    width: 100%;


}

.row{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.dnd-col{
    border: 1px solid black;
    width: 200px;
    margin: 10px;
}

.task-header{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
    text-align: center;
    background-color: grey;
    
}

.draggable-item{
    height:40px;
    margin: 5px;
    text-align: center;
}

